<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <title><lisp>(muse-publishing-directive "title")</lisp></title>
    <meta name="generator" content="muse.el" />
    <meta http-equiv="<lisp>muse-html-meta-http-equiv</lisp>" 
          content="<lisp>muse-html-meta-content-type</lisp>" />
    <lisp>
      (let ((keywords (muse-publishing-directive "keywords")))
        (when keywords
          (concat "<meta name=\"keywords\" content=\"" keywords "\" />")))
    </lisp>
    <lisp>
      (let ((refresh (muse-publishing-directive "refresh")))
        (when refresh
          (concat "<meta http-equiv=\"refresh\" content=\"" refresh "\" />")))
    </lisp>
    <lisp>
      (let ((maintainer (muse-style-element :maintainer)))
        (when maintainer
          (concat "<link rev=\"made\" href=\"" maintainer "\" />")))
    </lisp>
	 <link rel="stylesheet" type="text/css" charset="utf-8" media="screen,projection" 
         href="html/web.css" />
    <link rel="stylesheet" type="text/css" href="html/print.css" media="print" />
  </head>
  <body>
<div id="contentwide">
